In [1]:
import pandas as pd

In [2]:
data = pd.read_excel('historical_data.xlsx')

In [3]:
data.head()

  symbol   date_txn  close_price  predicted_price
0    AAL 2014-12-02        47.55            47.93
1    AAL 2014-12-03        47.93            49.33
2    AAL 2014-12-04        49.33            50.68
3    AAL 2014-12-05        50.68            50.50
4    AAL 2014-12-08        50.50            48.00

In [4]:
data.shape

(1048575, 4)

In [5]:
data.isna().sum()

symbol               0
date_txn             0
close_price          0
predicted_price    777
dtype: int64

In [6]:
data.fillna(data["predicted_price"].median(),inplace=True)

In [7]:
data["symbol"].unique()

array(['AAL', 'AAOI', 'AAON', 'AAP', 'AAPL', 'ABBV', 'ABC', 'ABG', 'ABMD',
       'ABT', 'ACAD', 'ACBI', 'ACGL', 'ACM', 'ACN', 'ACOR', 'ACRS', 'ACU',
       'ACV', 'ADBE', 'ADI', 'ADM', 'ADP', 'ADRO', 'ADS', 'ADSK', 'ADX',
       'ADXS', 'AEE', 'AEIS', 'AEL', 'AEO', 'AEP', 'AER', 'AES', 'AFL',
       'AGG', 'AGIO', 'AGNC', 'AGQ', 'AGR', 'AGRX', 'AGX', 'AI', 'AIG',
       'AIRT', 'AIT', 'AIV', 'AIZ', 'AJG', 'AKAM', 'AKBA', 'AKER', 'AKR',
       'AL', 'ALB', 'ALE', 'ALGN', 'ALK', 'ALKS', 'ALL', 'ALLE', 'ALLY',
       'ALNY', 'ALSN', 'ALV', 'ALXN', 'AMAT', 'AMBC', 'AMD', 'AME', 'AMG',
       'AMGN', 'AMH', 'AMP', 'AMRC', 'AMRK', 'AMSF', 'AMSWA', 'AMT',
       'AMWD', 'AMZN', 'AN', 'ANDE', 'ANET', 'ANIK', 'ANSS', 'ANTM',
       'AON', 'AOS', 'APA', 'APAM', 'APD', 'APH', 'APO', 'APOG', 'APPF',
       'AR', 'ARC', 'ARCC', 'ARDX', 'ARI', 'ARL', 'ARLP', 'ARMK', 'ARTW',
       'ARW', 'ASA', 'ASFI', 'ASMB', 'ASRV', 'ATI', 'ATR', 'ATRA', 'ATVI',
       'AVA', 'AVAV', 'AVB', 'AVGO', 'AVY', 'AWF', 'AWR', 'AXDX', 'AXE',
       'AXP', 'AYI', 'AYR', 'AZO', 'B', 'BA', 'BABA', 'BAC', 'BANF',
       'BANR', 'BAX', 'BBBY', 'BBY', 'BC', 'BCBP', 'BCC', 'BCRH', 'BCRX',
       'BDX', 'BECN', 'BEN', 'BFAM', 'BFK', 'BGB', 'BGG', 'BHB', 'BHLB',
       'BIDU', 'BIIB', 'BIL', 'BIV', 'BK', 'BKD', 'BKE', 'BKEP', 'BKSC',
       'BKU', 'BLCM', 'BLE', 'BLK', 'BLKB', 'BLL', 'BLUE', 'BLV', 'BMRC',
       'BMRN', 'BMTC', 'BMY', 'BND', 'BNED', 'BNO', 'BOCH', 'BOH', 'BOOT',
       'BPFH', 'BR', 'BRKS', 'BRT', 'BRX', 'BSL', 'BSM', 'BSQR', 'BST',
       'BSV', 'BSX', 'BTA', 'BTN', 'BTO', 'BURL', 'BUSE', 'BW', 'BWA',
       'BXMT', 'BXP', 'BYD', 'BYND', 'BZH', 'BZM', 'C', 'CAC', 'CACI',
       'CAG', 'CAH', 'CAKE', 'CAL', 'CALM', 'CAMP', 'CAR', 'CARA', 'CARO',
       'CAT', 'CATM', 'CATY', 'CB', 'CBAN', 'CBFV', 'CBOE', 'CBSH', 'CBT',
       'CBU', 'CBZ', 'CC', 'CCD', 'CCF', 'CCI', 'CCL', 'CCMP', 'CCOI',
       'CCXI', 'CDNS', 'CECE', 'CEE', 'CEN', 'CENT', 'CERN', 'CET',
       'CETV', 'CF', 'CFFI', 'CFFN', 'CFG', 'CFR', 'CFX', 'CG', 'CGNX',
       'CHCO', 'CHD', 'CHE', 'CHEF', 'CHGG', 'CHH', 'CHI', 'CHK', 'CHKP',
       'CHMG', 'CHRS', 'CHRW', 'CHS', 'CHSCO', 'CHTR', 'CHW', 'CHY', 'CI',
       'CIA', 'CIEN', 'CIM', 'CINF', 'CIT', 'CIVB', 'CL', 'CLB', 'CLFD',
       'CLGX', 'CLI', 'CLIX', 'CLNE', 'CLX', 'CMA', 'CMC', 'CMCSA', 'CME',
       'CMG', 'CMI', 'CMP', 'CMPR', 'CMRX', 'CMS', 'CNA', 'CNC', 'CNMD',
       'CNOB', 'CNP', 'CNSL', 'CNTY', 'CNX', 'CNY', 'CODI', 'COF', 'COG',
       'COHR', 'COLM', 'COMM', 'CONE', 'CONN', 'COP', 'COR', 'CORE',
       'CORN', 'CORR', 'CORT', 'COST', 'CPB', 'CPE', 'CPF', 'CPK', 'CPRX',
       'CPT', 'CR', 'CREE', 'CRI', 'CRL', 'CRM', 'CROC', 'CRON', 'CRTO',
       'CRUS', 'CRVL', 'CRY', 'CSCO', 'CSII', 'CSL', 'CSLT', 'CSOD',
       'CSQ', 'CSV', 'CSWC', 'CSWI', 'CSX', 'CTAS', 'CTB', 'CTL', 'CTO',
       'CTSH', 'CTSO', 'CTXS', 'CUB', 'CUK', 'CURE', 'CUZ', 'CVA', 'CVBF',
       'CVGI', 'CVLT', 'CVS', 'CVTI', 'CVX', 'CW', 'CWT', 'CXO', 'CXW',
       'CY', 'CYB', 'CYH', 'D', 'DAL', 'DB', 'DBA', 'DBB', 'DBC', 'DBD',
       'DBE', 'DBO', 'DBP', 'DBV', 'DCI', 'DCOM', 'DDM', 'DDS', 'DE',
       'DEI', 'DFS', 'DG', 'DGICA', 'DGL', 'DGX', 'DHI', 'DHR', 'DHX',
       'DHY', 'DIA', 'DIG', 'DIN', 'DIOD', 'DIS', 'DISCA', 'DISCK',
       'DISH', 'DK', 'DKL', 'DKS', 'DLB', 'DLPH', 'DLR', 'DLTH', 'DLTR',
       'DMRC', 'DNP', 'DO', 'DOG', 'DORM', 'DOV', 'DPG', 'DPST', 'DPZ',
       'DRE', 'DRI', 'DRR', 'DRRX', 'DSE', 'DSPG', 'DSU', 'DTE', 'DUG',
       'DUK', 'DUSL', 'DVA', 'DVN', 'DXCM', 'DXD', 'DXLG', 'DXPE', 'EA',
       'EAT', 'EBAY', 'EBIX', 'EBMT', 'EBS', 'EBSB', 'ECHO', 'ECL',
       'ECPG', 'ED', 'EEFT', 'EFX', 'EGHT', 'EGIF', 'EGOV', 'EGP', 'EGRX',
       'EIX', 'EL', 'ELGX', 'ELMD', 'ELY', 'EMIF', 'EMKR', 'EMN', 'EMR',
       'ENBL', 'ENDP', 'ENPH', 'ENSG', 'ENTA', 'ENV', 'ENVA', 'EOG',
       'EPAM', 'EPAY', 'EPD', 'EPM', 'EPR', 'EPZM', 'EQIX', 'EQR', 'EQT',
       'ERC', 'ES', 'ESNT', 'ESPR', 'ESRT', 'ESS', 'ESTE', 'ESXB', 'ETFC',
       'ETH', 'ETN', 'ETR', 'ETSY', 'EUFX', 'EUO', 'EV', 'EVOK', 'EVR',
       'EVY', 'EW', 'EWBC', 'EXAS', 'EXC', 'EXLS', 'EXPD', 'EXPE', 'EXPO',
       'EXR', 'EXTR', 'EYES', 'F', 'FANG', 'FAST', 'FB', 'FBHS', 'FBIZ',
       'FBNC', 'FCBC', 'FCCO', 'FCCY', 'FCNCA', 'FCT', 'FCX', 'FDP',
       'FDS', 'FDX', 'FE', 'FELE', 'FFBC', 'FFIN', 'FFIV', 'FGEN', 'FHN',
       'FICO', 'FINU', 'FIS', 'FISI', 'FISV', 'FIT', 'FITB', 'FIX',
       'FLEX', 'FLIR', 'FLO', 'FLOW', 'FLR', 'FLS', 'FMBH', 'FMC', 'FMNB',
       'FMO', 'FN', 'FNB', 'FNF', 'FOSL', 'FOX', 'FOXA', 'FPF', 'FPRX',
       'FR', 'FRBK', 'FRME', 'FRPT', 'FRT', 'FSFG', 'FSLR', 'FSP', 'FSS',
       'FTF', 'FTI', 'FTK', 'FTNT', 'FTR', 'FUE', 'FULT', 'FUN', 'FUND',
       'FVRR', 'FXA', 'FXB', 'FXC', 'FXE', 'FXF', 'FXG', 'FXY', 'G',
       'GABC', 'GAIN', 'GAM', 'GBCI', 'GBF', 'GBL', 'GBT', 'GBX', 'GCAP',
       'GCBC', 'GCI', 'GD', 'GDL', 'GDOT', 'GE', 'GEL', 'GEO', 'GER',
       'GFN', 'GFNCP', 'GGG', 'GGM', 'GILD', 'GIS', 'GLBS', 'GLBZ', 'GLD',
       'GLP', 'GLPI', 'GLT', 'GLUU', 'GLV', 'GLW', 'GM', 'GME', 'GMED',
       'GMZ', 'GNMK', 'GNW', 'GOF', 'GOOD', 'GOOG', 'GOOGL', 'GPC', 'GPN',
       'GPS', 'GRMN', 'GRPN', 'GS', 'GSB', 'GSBC', 'GSBD', 'GSIT', 'GT',
       'GTT', 'GVA', 'GVI', 'GWB', 'GWRE', 'GWW', 'HA', 'HAFC', 'HAL',
       'HAS', 'HBAN', 'HBI', 'HBIO', 'HCA', 'HCKT', 'HCSG', 'HD', 'HEAR',
       'HELE', 'HES', 'HFC', 'HFWA', 'HHC', 'HIG', 'HII', 'HLIT', 'HMHC',
       'HMTV', 'HOG', 'HOMB', 'HON', 'HP', 'HPF', 'HPI', 'HPP', 'HPQ',
       'HPS', 'HQH', 'HQY', 'HR', 'HRB', 'HRL', 'HSC', 'HSIC', 'HST',
       'HSY', 'HTBK', 'HTD', 'HTY', 'HUBB', 'HUBG', 'HUBS', 'HUM', 'HURN',
       'HWKN', 'HY', 'HYG', 'HZNP', 'IAU', 'IBM', 'ICCC', 'ICE', 'ICFI',
       'ICPT', 'ICUI', 'IDA', 'IDCC', 'IDXX', 'IEC', 'IEF', 'IEI', 'IEX',
       'IEZ', 'IFF', 'IIIN', 'ILMN', 'IMAX', 'IMGN', 'IMH', 'INAP',
       'INCY', 'INGN', 'INGR', 'INSM', 'INT', 'INTC', 'INTL', 'INTU',
       'IO', 'IONS', 'IOSP', 'IP', 'IPG', 'IPHI', 'IPWR', 'IR', 'IRDM',
       'IRM', 'IRMD', 'ISBC', 'ISRG', 'ISTR', 'IT', 'ITCI', 'ITRI', 'ITW',
       'IVC', 'IVV', 'IVZ', 'IWR', 'JAGX', 'JAKK', 'JAX', 'JAZZ', 'JBHT',
       'JBLU', 'JBSS', 'JCI', 'JCS', 'JD', 'JDD', 'JHS', 'JKHY', 'JLL',
       'JMF', 'JMP', 'JNJ', 'JNPR', 'JOB', 'JPM', 'JRO', 'JWN', 'K',
       'KAI', 'KALU', 'KBH', 'KEM', 'KEY', 'KEYS', 'KFRC', 'KFS', 'KIM',
       'KLAC', 'KLIC', 'KMB', 'KMF'], dtype=object)

In [8]:
data["symbol"].value_counts()

ISRG    1377
ADX     1377
AEP     1377
HUM     1377
CTL     1377
        ...
AMD       83
BYND      83
CRON      83
BABA      83
FVRR      10
Name: symbol, Length: 785, dtype: int64

In [9]:
from sklearn.preprocessing import LabelEncoder

In [10]:
le = LabelEncoder() 
  
data['symbol']= le.fit_transform(data['symbol'])

In [11]:
data.head()

   symbol   date_txn  close_price  predicted_price
0       0 2014-12-02        47.55            47.93
1       0 2014-12-03        47.93            49.33
2       0 2014-12-04        49.33            50.68
3       0 2014-12-05        50.68            50.50
4       0 2014-12-08        50.50            48.00

In [12]:
data["symbol"].unique()

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
       143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155,
       156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168,
       169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181,
       182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194,
       195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207,
       208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220,
       221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233,
       234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246,
       247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259,
       260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272,
       273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285,
       286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298,
       299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311,
       312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324,
       325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337,
       338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350,
       351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363,
       364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376,
       377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389,
       390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402,
       403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415,
       416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428,
       429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441,
       442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454,
       455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467,
       468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480,
       481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493,
       494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506,
       507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519,
       520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532,
       533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545,
       546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558,
       559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571,
       572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584,
       585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597,
       598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610,
       611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623,
       624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636,
       637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649,
       650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662,
       663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675,
       676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688,
       689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701,
       702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714,
       715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727,
       728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740,
       741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753,
       754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766,
       767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779,
       780, 781, 782, 783, 784])

In [13]:
data = data.drop(['date_txn'],axis=1)

In [14]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split

In [15]:
X = data.drop(["predicted_price"],axis=1)
y = data["predicted_price"]

In [16]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score

In [17]:
kfold = KFold(n_splits=10,shuffle=True,random_state=0)
lr = LinearRegression()
scoring = 'neg_mean_squared_error'
score = cross_val_score(lr,X,y,cv=kfold,scoring=scoring)
print(score)

[-52.47119033 -24.99259155 -23.12088967 -21.23670289 -12.9180487
 -78.73064747 -20.43940419 -23.97080186 -13.27936142 -18.2044867 ]

In [24]:
import numpy as np
print("Mean squared error ",round(np.mean(score),2))

Mean squared error  -28.94

In [25]:
kfold = KFold(n_splits=10,shuffle=True,random_state=0)
lr = LinearRegression()
scoring = 'neg_mean_absolute_error'
score1 = cross_val_score(lr,X,y,cv=kfold,scoring=scoring)
print(score1)

[-0.8749182  -0.87104687 -0.86416124 -0.87933815 -0.85509711 -0.87959709
 -0.87397225 -0.86675784 -0.84647585 -0.88031843]

In [30]:
print("Mean Absolute Error ",round(np.mean(score1)*100,2))

Mean Absolute Error  -86.92

In [27]:
kfold = KFold(n_splits=10,shuffle=True,random_state=0)
lr = LinearRegression()
scoring = 'r2'
score2 = cross_val_score(lr,X,y,cv=kfold,scoring=scoring)
print(score2)

[0.99438684 0.99711123 0.9974063  0.99780299 0.99855795 0.9909794
 0.9977379  0.99733407 0.99848735 0.99804493]

In [31]:
print("R Squared ",round(np.mean(score2)*100,2))

R Squared  99.68

In [32]:
X_train,X_test,Y_train,Y_test = train_test_split(X,y,test_size=0.20,random_state=0)

In [47]:
lr = LinearRegression()
lr.fit(X_train,Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [52]:
import pickle 
  
pickle.dump(lr, open('model.pkl','wb')) 
lr_from_pickle = pickle.load(open('model.pkl','rb'))

In [53]:
predict = lr_from_pickle.predict(X_test)

In [54]:
print(round(r2_score(Y_test,predict)*100,2))

99.57

In [55]:
predict[:-5]

array([ 22.6950624 ,  25.80212345, 327.70170071, ...,  42.44772326,
       106.92125142,  31.45634848])

In [56]:
Y_test[:-5]

875680      21.97
1046906     25.58
646861     330.40
704385      19.58
798051      39.01
            ...
911746      20.07
732566       9.32
419960      42.64
194263     107.34
495780      31.83
Name: predicted_price, Length: 209710, dtype: float64

In [57]:
df = pd.DataFrame(predict)
df.to_excel("predicted.xlsx",index=False)

In [58]:
X_test.to_excel("test.xlsx",index=False)